
{% include 'pretrazi.html' %}

{% include 'kategorije.html' %}

<div class="bg-base-200 px-4 py-9 shadow sm:rounded-lg sm:px-6">
    <h2 id="timeline-title" class="text-lg font-medium ">Preporučeno</h2>
    <div class="mt-3 flow-root">
        <ul role="list" class="-mb-8">

            {% for preporuka in queryset %}
                {% if preporuka.preporuceno %}

                  <li>
                      <div class="flex-1 relative pt-2 px-6 pb-2 md:px-8 ">
                            <div class="flex flex-row  max-w-xs mx-auto overflow-hidden  rounded-lg shadow-lg  p-0 bg-base-300">
                                <div class="p-0 w-2/5">
                                    <img class="rounded object-cover w-full  h-40" src="{{ preporuka.slika.url }}" alt="{{ preporuka.naslov }}" />
                                </div>
                                <div class=" p-1 w-3/5 flex flex-col justify-center items-center">
                                    <div>
                                        <a href="{% url 'filmovi-detaljno' preporuka.slug %}"
                                            class="block sm:mt-2 text-md font-bold  ">
                                            {{ preporuka.naslov }}
                                            <p class="mt-2 text-xs text-accent "><em>{{ preporuka.originalni_naslov }}</em></p>
                                            <p class="mt-1 text-sm text-accent ">
                                                {{ preporuka.godina }} / {{ preporuka.imdb_ocena }}
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </li>

                {% endif %}
            {% endfor %}

        </ul>
    </div>
  </div>
