{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block js %}
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}


    <header class="px-4 md:px-2 lg:px-0 my-4">

        <div class="relative isolate overflow-hidden bg-neutral py-24 sm:py-32 rounded-lg">

          <img src="{% static 'images/kino1.jpeg' %}" alt="header-image" class="opacity-30 blur-sm absolute inset-0 -z-10 size-full object-cover object-right md:object-center kenburns-top">

          <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>

          <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>

          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h1 class=" text-4xl font-semibold sm:text-6xl  lg:text-7xl tracking-tight">F I L M O V I Z I J A</h1>
              <p class="mt-8 text-pretty text-lg font-medium text-gray-300 sm:text-xl/8">Dobro dosli! Uzivajte u filmovima sa prevodom i bez reklama!</p>
            </div>
            <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
              <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base/7 font-semibold  sm:grid-cols-2 md:flex lg:gap-x-10">
                <a href="#">Filmovi <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Serije <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Domaci filmovi <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Domace serije <span aria-hidden="true">&rarr;</span></a>
              </div>

              <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                <div class="flex flex-col-reverse gap-1">
                  <dt class="text-base/7 text-gray-300">Ukupno filmova i serija</dt>
                  <dd class="text-4xl font-semibold tracking-tight text-primary animate-[counter_3s_ease-out_forwards] [counter-set:_num_var(--num)] before:content-[counter(num)]"></dd>
                </div>
                <div class="flex flex-col-reverse gap-1">
                  <dt class="text-base/7 text-gray-300">Filmovi</dt>
                  <dd class="text-4xl font-semibold tracking-tight text-primary transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]" x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:300]' "></dd>
                </div>
                <div class="flex flex-col-reverse gap-1">
                  <dt class="text-base/7 text-gray-300">Serije</dt>
                  <dd class="text-4xl font-semibold tracking-tight text-primary transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]" x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:40]' "></dd>
                </div>
                <div class="flex flex-col-reverse gap-1">
                  <dt class="text-base/7 text-gray-300">Domaci filmovi i serije</dt>
                  <dd class="text-4xl font-semibold tracking-tight text-primary">15</dd>
                </div>
              </dl>

            </div>
          </div>

        </div>

    </header>


