{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}


<nav class="navbar  border border-solid bg-base-300  border-current px-4">

    <div class="navbar-start">
        <a href="/" class="btn btn-ghost text-primary text-xl ">FILMOVIZIJA</a>
    </div>

  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-300 text-primary rounded-box z-[1] mt-3 w-52 p-2 shadow border border-solid border-current">
        <li><a>Filmovi</a></li>
        <li><a>Serije</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg text-primary">
      <li><a>Filmovi</a></li>
      <li><a>Serije</a></li>
    </ul>
  </div>

</nav>
