{% load static %}

{% block css %}
{#    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">#}
{% endblock %}




<header id="navbar" class="bg-primary-content shadow fixed w-full top-0 transition-transform transform z-50">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex px-2 lg:px-0">
        <div class="flex-shrink-0 flex items-center">
          <a href="/">
            <h1 class="text-2xl text-primary">Filmovizija</h1>
          </a>
        </div>
            <nav aria-label="Global" class="hidden lg:ml-6 lg:flex lg:items-center lg:space-x-4 lg:justify-end ">
              <a href="/" class="px-3 py-2 text-primary  font-medium">Početna</a>
              <a href="{% url 'filmovi' %}" class="px-3 py-2 text-primary  font-medium">Filmovi</a>
              <a href="{% url 'serije' %}" class="px-3 py-2 text-primary  font-medium">Serije</a>
              <a href="{% url 'domaci-filmovi' %}" class="px-3 py-2 text-primary  font-medium">Domaći filmovi</a>
              <a href="{% url 'domace-serije' %}" class="px-3 py-2 text-primary  font-medium">Domaće serije</a>
            </nav>
      </div>
      <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
        <div class="max-w-lg w-full lg:max-w-xs">

        </div>
      </div>
      <div class="flex items-center lg:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
    <div class="lg:hidden">
      <div class="fixed inset-0 bg-black bg-opacity-25 z-20 hidden"></div>
      <div class="absolute top-0 right-0 max-w-none w-full p-2 transition transform origin-top z-30 hidden">
        <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
          <div class="pt-3 pb-2 bg-primary-content">
            <div class="flex items-center justify-between px-4">
              <div>
                <h1 class="text-xl text-primary">Filmovizija</h1>
              </div>
              <div class="-mr-2">
                <button type="button" class="bg-primary-content rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
                  <span class="sr-only">Close menu</span>
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="mt-3 px-2 space-y-1 bg-primary-content">
              <a href="/" class="block rounded-md px-3 py-2 text-base font-medium text-primary hover:bg-gray-100">Pocetna</a>
              <a href="{% url 'filmovi' %}" class="block rounded-md px-3 py-2 text-base font-medium text-primary hover:bg-gray-100">Filmovi</a>
              <a href="{% url 'serije' %}" class="block rounded-md px-3 py-2 text-base font-medium text-primary hover:bg-gray-100">Serije</a>
              <a href="{% url 'domaci-filmovi' %}" class="block rounded-md px-3 py-2 text-base font-medium text-primary hover:bg-gray-100">Domaći filmovi</a>
              <a href="{% url 'domace-serije' %}" class="block rounded-md px-3 py-2 text-base font-medium text-primary hover:bg-gray-100">Domaće serije</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>


