{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}



{#search#}
<div class="w-full max-w-md p-4 bg-base-100 border border-current rounded-lg shadow md:p-8 ">

   <div class="flow-root">

        <form class="max-w-md mx-auto">
            <label for="default-search" class="mb-2 text-sm font-medium text-accent sr-only ">Trazi</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-primary border border-base-300 rounded-lg bg-base-300 focus:ring-base-500 focus:border-base-100  dark:placeholder-gray-400 " placeholder="Pretrazi po naslovu" />
                <button type="submit" class="text-accent absolute end-2.5 bottom-2.5 bg-base-300 hover:bg-base-500 focus:ring-4 focus:outline-none focus:ring-base-300 font-medium rounded-lg text-sm px-4 py-2  ">Trazi</button>
            </div>
        </form>

   </div>
</div>


<br>


{#kategorije#}
<div class="w-full max-w-md p-4 bg-base-100 border border-current rounded-lg shadow sm:p-8 ">

    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-base-content ">Zanrovi:</h5>
        <a href="#" class="text-sm font-medium text-accent hover:underline ">
            Svi zanrovi
        </a>
   </div>

   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">

            <li class="py-3 sm:py-4">
                <a href="#" class="flex items-center ">

                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-xl font-medium text-accent  ">
                            Komedija
                        </p>
                    </div>
                    <div class="inline-flex items-center  font-semibold  ">
                        <span class="inline-flex items-center justify-center w-7 h-7 ms-2 text-xl font-semibold text-accent bg-base-300 rounded-full">
                            2
                        </span>
                    </div>
                </a>
            </li>

        </ul>
   </div>
</div>

<br>



{#kartica najnoviji filmovi#}
<div class="w-full  p-4  border border-current bg-base-100 rounded-lg shadow sm:p-8 ">

    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-base-content ">Najnovije:</h5>
        <a href="#" class="text-sm font-medium text-accent hover:underline ">
            Prikazi sve
        </a>
   </div>

   <div class="flow-root">
        <ul role="list" class="divide-y divide-base-200 ">

                <li class="py-1 sm:py-2">
                    <div
                        class="flex flex-row  max-w-xs mx-auto overflow-hidden bg-base-300 rounded-lg shadow-lg  p-0">

                        <div class="p-0 w-2/5">
                            <img class="rounded object-cover w-full  h-40" src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Article" />
                        </div>

                        <div class=" p-1 w-3/5 flex flex-col justify-center items-center">
                            <div>
                                <a href="#"
                                    class="block sm:mt-2 text-md font-bold text-base-content ">
                                    Lorem rem facere
                                    <p class="mt-2 text-xs text-accent "><em>Originalni naziv</em></p>
                                    <p class="mt-2 text-sm text-accent ">
                                        1984 / 9.2
                                    </p>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>

        </ul>
   </div>
</div>


