{% extends 'base.html' %}
{% load static %}


{% block css %}
{% endblock %}



{#{% block slika %}#}

    <div class="relative pb-32 bg-gray-800 mt-10">
        <div class="absolute inset-0">
          <img class="w-full h-full object-cover" src="{% static 'images/cinema.jpg' %}" alt="Cinema" loading="lazy">
          <div class="absolute inset-0 bg-gray-800 mix-blend-multiply" aria-hidden="true"></div>
        </div>
        <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
          <h1 class="text-4xl font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl">Filmovizija</h1>
          <p class="mt-6 max-w-3xl text-xl text-gray-300">Gledajte filmove i serije sa prevodom i bez reklama!</p>
        </div>
    </div>

       <!-- Overlapping cards -->
  <section class="-mt-32 max-w-7xl mx-auto relative z-10 pb-32 px-4 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
{#        <h2 class="sr-only" id="contact-heading">Contact us</h2>#}
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">

      <div class="flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
            <div class="flex flex-row  max-w-xs mx-auto overflow-hidden  rounded-lg shadow-lg  p-0">
                <div class="badge badge-warning badge-outline absolute top-10 right-10">Novo!</div>
                <div class="p-0 w-2/5">
                    <img class="rounded object-cover w-full  h-40" src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Article" />
                </div>
                <div class=" p-1 w-3/5 flex flex-col justify-center items-center">
                    <div>
                        <a href="#"
                            class="block sm:mt-2 text-md font-bold text-base-content ">
                            Lorem rem facere
                            <p class="mt-2 text-xs text-accent "><em>Originalni naziv</em></p>
                            <p class="mt-2 text-sm text-accent ">
                                1984 / 9.2
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Pogledaj<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>


      <div class="flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
            <div class="flex flex-row  max-w-xs mx-auto overflow-hidden  rounded-lg shadow-lg  p-0">
                <div class="badge badge-warning badge-outline absolute top-10 right-10">Novo!</div>
                <div class="p-0 w-2/5">
                    <img class="rounded object-cover w-full  h-40" src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Article" />
                </div>
                <div class=" p-1 w-3/5 flex flex-col justify-center items-center">
                    <div>
                        <a href="#"
                            class="block sm:mt-2 text-md font-bold text-base-content ">
                            Lorem rem facere
                            <p class="mt-2 text-xs text-accent "><em>Originalni naziv</em></p>
                            <p class="mt-2 text-sm text-accent ">
                                1984 / 9.2
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Pogledaj<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
            <div class="flex flex-row  max-w-xs mx-auto overflow-hidden  rounded-lg shadow-lg  p-0">
                <div class="badge badge-warning badge-outline absolute top-10 right-10">Novo!</div>
                <div class="p-0 w-2/5">
                    <img class="rounded object-cover w-full  h-40" src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Article" />
                </div>
                <div class=" p-1 w-3/5 flex flex-col justify-center items-center">
                    <div>
                        <a href="#"
                            class="block sm:mt-2 text-md font-bold text-base-content ">
                            Lorem rem facere
                            <p class="mt-2 text-xs text-accent "><em>Originalni naziv</em></p>
                            <p class="mt-2 text-sm text-accent ">
                                1984 / 9.2
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Pogledaj<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

    </div>
  </section>

{#{% endblock %}#}
